<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="DbConn" connectionString ="Data Source=DESKTOP-1P6CK0A\SQLEXPRESS;Initial Catalog=CustomerDB;Integrated Security=True" />
    </connectionStrings>
  <appSettings>
    <add key ="NameOfTheApplication" value="Customer Form"/>
    <add key="AddButton" value="Insert"/>
    <add key="UpdateButton" value="Update"/>
    <add key="DeleteButton" value="Delete"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>